/*LAYOUT*/

section {
    height: 90vh;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    bottom: 0;
    width: 100%;
    height: 10vh;
    text-align: center;
}

/*TYPOGRAPHY*/

body,
html {
    font-size: calc(13px + 1vw);
    font-family: 'Gugi', cursive;
}

section .container {
    padding-top: 20vh;
    padding-left: 20vh;
    padding-right: 20vh;
}

.stack {
    opacity: 0.7;
}

.code {
    opacity: 0.6;
}

.talk {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: black;
}

footer a {
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7em;
}

h1.stack {
    box-sizing: content-box;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-name: delay;
    position: relative;
    transition: opacity 2s linear;
}

h1.code {
    box-sizing: content-box;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-duration: 8s;
    animation-name: delay;
    position: relative;
    transition: opacity 2s linear;
}

@keyframes delay {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(150px, 0);
    }
    80% {
        transform: translate(-150px, 0);
    }
}

a.talk {
    box-sizing: content-box;
    animation-duration: 10s;
    animation-name: poping;
    transition: opacity 2s linear;
}

@keyframes poping {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.1;
    }
    80% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.4;
    }
    95% {
        opacity: 0.5;
    }
    100% {
        opacity: 0, 6;
    }
}

/*THEME*/

#content {
    cursor: url(../Img/circle.cur), auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#cbccc8), to(#4ABCAD)) fixed;
}

footer {
    color: white;
    background: -webkit-linear-gradient(#4ABCAD,#cbccc8);
}

footer a {
    color: white;
    transition: color 2s linear;
}

h1:hover {
    opacity: 1.0;
}

.talk:hover {
    color: black;
    opacity: 1;
}

a.twitter:hover {
    color: black;
    transition: color 2s linear;
    
}

a.github:hover {
    color: black;
    transition: color 2s linear;
}

a.contact:hover {
    color: black;
    transition: color 2s linear;
}